page{
    height: 100%;
}
.timer-main{
  height: 60%;
  background: #3197ed;
  display: flex;
  .timer{
     margin: auto;
     width: 150px;
     height: 150px;
     border: 3px solid black;
  }
}
.timer-foot{
   height: 40%;
    background-color:white; 
    .foot-input{
        width: 100%;
        text-align: center;
        font-size: 24rpx;
        border-bottom:1px solid #f2f2f2; 
    }
    .choose-task{
        margin: 100rpx 0rpx;
        display: flex;
        .task{
            width: 50%;
            text{
                margin: 0 auto;
                display: block;
                width: 130rpx;
                height: 130rpx;
                border-radius: 100%;
                background-color:#48c23d;
                text-align: center;
                font-size: 25rpx;
                color: white;
                line-height: 130rpx; 
                transform: all 0.5s;
            }
        }
    }
}